<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    -->
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    <target name="console" xsi:type="Console"
            layout="${level:uppercase=true}: ${message} | ${exception:format=tostring}"
            />
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
    <!--<logger name="MyJob" minlevel="Trace" writeTo="console,f" />
    <logger name="FuncUtils" minlevel="Trace" writeTo="console,f" />-->

    <!-- https://github.com/ServiceStack/ServiceStack/blob/master/src/ServiceStack/Metadata/CustomMetadataHandler.cs -->
    <logger name="CustomMetadataHandler" minlevel="Trace" writeTo="console,f" />

    <!-- https://github.com/ServiceStack/ServiceStack/blob/master/src/ServiceStack.Common/FuncUtils.cs -->
    <logger name="FuncUtils" minlevel="Trace" writeTo="console,f" />

    <!-- https://github.com/ServiceStack/ServiceStack/blob/master/src/ServiceStack/Host/HttpListener/HttpListenerBase.cs -->
    <logger name="HttpListenerBase" minlevel="Trace" writeTo="console,f" />

    <!-- https://github.com/ServiceStack/ServiceStack/blob/master/src/ServiceStack/NetCore/NetCoreQueryStringCollection.cs -->
    <logger name="NetCoreQueryStringCollection" minlevel="Trace" writeTo="console,f" />

    <!-- https://github.com/ServiceStack/ServiceStack/blob/master/src/ServiceStack/ServiceExtensions.cs -->
    <logger name="ServiceExtensions" minlevel="Trace" writeTo="console,f" />

    <!-- https://github.com/ServiceStack/ServiceStack/blob/master/src/ServiceStack/Validation/ValidatorCache.cs -->
    <logger name="ValidatorCache" minlevel="Trace" writeTo="console,f" />

    <!-- https://github.com/ServiceStack/ServiceStack/blob/master/src/ServiceStack/Metadata/XsdGenerator.cs -->
    <logger name="XsdGenerator" minlevel="Trace" writeTo="console,f" />

    <!-- Etc... -->

    <logger name="ServiceStack.*" minlevel="Trace" writeTo="console,f" />
    <logger name="Topshelf.*" minlevel="Trace" writeTo="console,f" />
    <logger name="TriggerAction.*" minlevel="Trace" writeTo="console,f" />
    <logger name="Quartz.*" minlevel="Trace" writeTo="console,f" />
  </rules>
</nlog>
