<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables

  Essendo basata su Topshelf l'applicazione può essere eseguita sia da console
  che come servizio Windows. Tipicamente i dati di un'applicazione sono tenuti
  in %LOCALAPPDATA% ma tale percorso è diverso nei due casi:
  "C:\Users\Username\AppData\Local" per l'applicazione console,
  "C:\WINDOWS\system32\config\systemprofile\AppData\Local" per il servizio
  Windows (se avviato utilizzando l'account di sistema locale).
  
  Per tale motivo utilizzeremo la cartella comune %PROGRAMDATA% il cui
  percorso in Window è "C:\ProgramData".
  
  Ulteriori informazioni alla pagina:
  https://docs.microsoft.com/it-it/dotnet/api/system.environment.specialfolder
  -->

  <variable name="appName" value="TriggerAction" />
  <variable name="appDataDir" value="${specialfolder:folder=CommonApplicationData}/${appName}"/>
  
  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    
    If a target has the layout attribute, you may define a custom layout. If
    you do not specify a layout, the default layout is used. The default layout
    is: ${longdate}|${level:uppercase=true}|${logger}|${message}
    -->

    <target xsi:type="File"
            name="default"          
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
            fileName="${appDataDir}/logs/current.log"
            archiveFileName="${appDataDir}/logs/archive.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            keepFileOpen="false"
            maxArchiveFiles="7"
            />

    <target xsi:type="Console"
            name="console" />

    <target xsi:type="EventLog"
        name="eventlog"
        source="${appName}"
        layout="${message}${newline}${exception:format=ToString}"/>
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" writeTo="default,console" minlevel="Trace" />
    <logger name="*" writeTo="eventlog" minlevel="Error" />
  </rules>
</nlog>
