<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CreateZipOfOutputs.MSBuildTask" version="1.1.0" targetFramework="net472" />
  <package id="DeltaCompressionDotNet" version="1.1.0" allowedVersions="(,2.0.0)" targetFramework="net472" />
  <package id="Enums.NET" version="2.2.0" allowedVersions="(,2.2.0]" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net461" />
  <package id="Microsoft.Build.Tasks.Git" version="1.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.SourceLink.Common" version="1.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="1.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Mono.Cecil" version="0.11.3" targetFramework="net472" />
  <package id="MSBuild.Extension.Pack" version="1.9.1" targetFramework="net472" />
  <package id="MSBuild.Version.Target" version="3.0.60" targetFramework="net472" developmentDependency="true" />
  <package id="MSBuildTasks" version="1.5.0.235" targetFramework="net472" developmentDependency="true" />
  <package id="NLog" version="4.7.10" targetFramework="net472" />
  <package id="NLog.Schema" version="4.7.10" targetFramework="net472" />
  <package id="Quartz" version="3.3.2" targetFramework="net472" />
  <package id="Quartz.Jobs" version="3.3.2" targetFramework="net472" />
  <package id="Quartz.Plugins" version="3.3.2" targetFramework="net472" />
  <package id="ServiceStack" version="5.9.2" allowedVersions="(,5.9.2]" targetFramework="net472" />
  <package id="ServiceStack.Admin" version="5.9.2" allowedVersions="(,5.9.2]" targetFramework="net472" />
  <package id="ServiceStack.Api.OpenApi" version="5.9.2" allowedVersions="(,5.9.2]" targetFramework="net472" />
  <package id="ServiceStack.Client" version="5.9.2" allowedVersions="(,5.9.2]" targetFramework="net472" />
  <package id="ServiceStack.Common" version="5.9.2" allowedVersions="(,5.9.2]" targetFramework="net472" />
  <package id="ServiceStack.Interfaces" version="5.9.2" allowedVersions="(,5.9.2]" targetFramework="net472" />
  <package id="ServiceStack.Logging.NLog" version="5.9.2" allowedVersions="(,5.9.2]" targetFramework="net472" />
  <package id="ServiceStack.OrmLite" version="5.9.2" allowedVersions="(,5.9.2]" targetFramework="net472" />
  <package id="ServiceStack.OrmLite.Sqlite.Windows" version="5.9.2" allowedVersions="(,5.9.2]" targetFramework="net472" />
  <package id="ServiceStack.OrmLite.SqlServer" version="5.9.2" allowedVersions="(,5.9.2]" targetFramework="net472" />
  <package id="ServiceStack.Quartz" version="5.8.0" targetFramework="net472" />
  <package id="ServiceStack.Razor" version="5.9.2" allowedVersions="(,5.9.2]" targetFramework="net472" />
  <package id="ServiceStack.Redis" version="5.9.2" allowedVersions="(,5.9.2]" targetFramework="net472" />
  <package id="ServiceStack.Server" version="5.9.2" allowedVersions="(,5.9.2]" targetFramework="net472" />
  <package id="ServiceStack.Text" version="5.9.2" allowedVersions="(,5.9.2]" targetFramework="net472" />
  <package id="SharpCompress" version="0.17.1" allowedVersions="[0.17.1]" targetFramework="net472" />
  <package id="SJP.Sherlock" version="1.0.0" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.114.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.114.1" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reactive" version="5.0.0" targetFramework="net472" />
  <package id="System.Reactive.Core" version="5.0.0" targetFramework="net472" />
  <package id="System.Reactive.Interfaces" version="5.0.0" targetFramework="net472" />
  <package id="System.Reactive.Linq" version="5.0.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Topshelf" version="4.3.0" targetFramework="net472" />
  <package id="Topshelf.NLog" version="4.3.0" targetFramework="net472" />
</packages>